*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,body{
	height: 100%;
}

.clear{
	clear:both;
}

/*
	Menu
*/

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header{
	padding: 10px 2% 20px 2%;
	background-color: #ccc;
	border-bottom:5px solid green;
}


header .container div.logo-1{
	float: left;
}
.container .logo-1>img{
	width: 160px;
	margin: 1px 4%;
}
header .container nav.menu{
	float: right;
}
header .container nav.menu ul{
	list-style-type: none;
}

header .container nav.menu li{
	float: left;
	font-size: 25px;
	padding: 35px;
}

header .container nav.menu a{
	position: relative;
	top: 15px;
	color: black;
	text-decoration: none;
}

header .container nav.menu a:hover{
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

/*
Codigo do Formulario + BackGround
*/

main.couver-Bg{
	width: 100%;
	background-color: rgb(23, 77, 7) ;
}

.couver-Bg .background{
	position: relative;
	height: 550px;
	background-position:center ;
	background-size: cover;
	background-image: url(../imagens/bg-form.jpg);
}

.form-container{
	position: absolute;
	right: 30px;
	top: -2.5%;
	width: 400px;
	height: 105%;
	box-shadow: 1px 1px 1px 1px rgb(180,180,180);
	background-color: rgba(238, 253, 238,0.65);
}

.form-empacotar:not(:first-child){
	margin-top: 30px;
}

.form-container h2{
	text-align: center;
	font-weight: normal;
	font-size: 23px;
	color: darkgreen;
	background-color: rgba(212, 211, 211,0.9);
	padding: 20px;
}

.form-container form {
	padding: 15px 5%;
}

.form-container form input[type="text"]{
	background-color: rgba(183, 216, 185, 0.8);
	border: 1px solid rgba(238, 253, 238,0.65);
	width: 100%;
	height: 40px;
	line-height:40px;
	padding-left: 10px;
	color: darkgreen;
	margin-top: 2px ;
}

.form-container form input[type="text"]:focus{
	outline: 0;
	border: #ccc 1px solid;
}

.form-container form input[type="text"]::placeholder {
	color: darkgreen;
	opacity: 1;	
}

.form-container form input[type="submit"]{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 100, 0, 0.7);
	cursor:pointer;
	font-size: 18px;
}

form > p{
	padding-top: 25px ;
	color: darkgreen;
	font-weight: bolder;
}

/*
Codigo do Banner
*/

section.chamada{
	z-index: 1;
	width: 100%;
	text-align: center;
	background-color: rgb(23, 77, 7) ; ;	
}

section.chamada .container{
	background-color: rgb(170, 169, 169);
	height: 200px;

}

section.chamada h2{
	width: 89%;
	display: inline-block;
	margin-top: 17px;
	font-size: 30px;
	font-style: normal;
	text-transform: uppercase;
	color: rgb(81, 145, 17);
	padding-top: 20px;
}

section.chamada  p{
	width: 89%;
	display: inline-block;
	margin-top: 15px;
	font-size: 18px;
	font-style: normal;
	color: rgb(43, 80, 7);
	
}
.mosaico{
	width: 100%;
	background-color: rgb(23, 77, 7);
}

.flex-mosaico{
	display: flex;
}

.item-1-mosaico{
	width: 40%;
	padding: 60px;
	background-color: #2edd71;
}
.item-1-mosaico p{
	color: white;
	text-align: justify;
}
.item-2-mosaico{
	width: 60%;
	 background-position:center;
	 background-size: cover;
}
footer{
	width: 100%;
	background-color: #ccc;
	border-top: green 4px solid;
	text-align: center;
}
footer > p{
	margin-top: 10px;
	padding: 10px 0;
}
footer .i1{
	display: inline-block;
	padding-left: 40px;
}




@media screen and (max-width:960px) {
	header{
		padding: 10px 2%;
	}
	header .container nav.menu{
		display: inline-block;
		float: none;
		text-align: center;
	}
	header .container nav.Menu a{
		top: 5px;
		padding: 0px;
	}
	.container{
		text-align: center;
	}
	header .container nav.menu li{
		font-size: 25px;
		padding:14px;
	}
	header .container div.logo-1{
		float: none; 
		display: block;
		
	}

	main.background{
		padding: 40px 0;
	}
	.form-container{
		height:auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}

	.form-empacotar p{
		text-align: left;
		padding: 0 2%;
	}
}

@media screen and (max-width:768px) {
	.flex-mosaico{
		display: block;
	}
	.item-1-mosaico{
		width: 100%;
	}
	.item-2-mosaico{
		width: 100%;
		padding-top: 70%;
	}
}


@media screen and (max-width:480px) {
	.container .logo-1>img{
		width: 100px;
		margin: 1px 4%;
	}
	
	header .container nav.menu li{
		font-size: 18px;
		padding: 9px;
	}
}





